/*
Theme Name: My Theme
Author: Khun LY
Description: Custom Theme created for Interface3
Version: 1.0.0
Tags: tag1, tag2, tag3
*/

@import 'assets/css/dist/style.css';

.header {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

#wp-custom-header > img {
    width: 100%;
    height: auto;
}

#wp-custom-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header > nav {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
}

#menu-main {
    padding-left: 10px;
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

#menu-main > li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    min-height: 100vh;
}

footer {
    width: 100vw;
    background-color: darkgray;
}

#menu-footer {
    padding: 0;
    margin: 20px;
    list-style: none;
}

#menu-footer i{
    font-size: 24px;
    color: black;
}

#menu-footer a {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

a:hover {
    text-decoration: none;
}

#menu-footer li {
    padding: 10px;
}

#footer-bottom {
    justify-content: center;
    align-items: center;
    padding: 5px;
}