.card-body {
    height: 200px;
    overflow: hidden;
    position: relative;
    .card-img-top {
        height: auto;
    }
    &:hover {
        .summary {
            opacity: 0.6;
            transition: 0.5s linear all;
        }
    }
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary {
    background-color: black;
    color: white;
    position: absolute;
    top:0 ;
    left: 0;
    height: 200px;
    width: 100%;
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0;
}

.post-img {
    width: 100%;
    height: auto;
}

.tag {
    border: 2px solid darkgray;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    color: darkgray;
    margin: 10px;
    display: inline-block;
    &:hover {
        color: gray;
        border-color: gray;
    }
}

.front-img {
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
}
.front-img>div {
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.front-img>div>div{
    height: 100%;
    background-size: cover;
    width: 100%;
    &:hover{
        transform: scale(1.3);
        transition: 0.5s ease all;
    }
}

.column{
    height: 100%;
    &:nth-child(2){
        .front-img {
            height: 50%;
            &:nth-child(2) {
                width: 50%;
                float: left;
            }
            &:nth-child(3){
                width: 50%;
                float: left;
            }
        }
    }
}


.img-container {
    height: 300px;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    
    &-top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }





